/* style.css */
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

.hero {
  background: linear-gradient(to right, #4978c0, #6a28d4);
  color: rgb(250, 255, 255);
  height: 100vh;
  padding-top: 100px;
}

.section {
  padding: 60px 0;
}

.card-title {
  font-weight: bold;
}

footer {
  margin-top: 40px;
}
h2{
  background-color: #a055d3;
  font-family: Arial, Helvetica, sans-serif;
}
li{
  background-color: rgb(66, 70, 69);
}
h1{
  color:rgb(254, 255, 254);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5{
  background-color: rgb(84, 182, 92);
  font-family: Arial, Helvetica, sans-serif;
}
